* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*DEBUG*/

.debug .blg {
    border: 3px dashed lightgreen;
}

.debug .bw {
    border: 3px dashed white;
}

.debug .bb {
    border: 3px dashed black;
}

.debug main {
    background-color: burlywood;
}

.debug #site-footer {
    background-color: black;
}

.debug .sidebar {
    background-color: aqua;
}

.debug .content {
    background-color: coral;
}

.debug .navbar {
    background-color: pink;
    height: 4rem;
}

.debug .col-container {
    background-color: bisque;
    
}

.debug .col-container .col {
    background-color: lightcyan;
    height: 300px;
}

.debug .sdbr {
    background-color: white;
}

.debug .playlist {
    display: none;
}

/*UTILITY*/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/*CSS*/

main {
    height: calc(100vh - 6rem);
}

#site-footer {
    height: 6rem;
}

.sidebar {
    width: 3rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#cta {
    position: fixed;
    top: 0;
    left: 3rem;
    width: calc(100% - 3rem);
    line-height: 6rem;
}

.content {
   width: calc(100% - 3rem);
   overflow-y: scroll;
}

.navbar {
    margin: 7rem 0 1rem;
}

.col-container .col {
    width: calc(50% - 2rem);
    margin: 1rem;
}

/*RESPONDIVE*/

@media screen and (min-width: 576px) {
    .sidebar {
        width: 9rem;
    }

    .content {
        width: calc(100% - 9rem);
     }

     #cta {
        left: 9rem;
        width: calc(100% -9rem);
       
    } 

    .debug .playlist {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    
    .col-container .col {
        width: calc(25% - 2rem);
        margin: 1rem;
    }


   
}

@media screen and (min-width: 992px) {
    
    .col-container .col {
        width: calc((100% / 6) - 2rem);
        margin: 1rem;
    }


   
}
