* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*DEBUG*/

.debug .blg {
    border: 3px dashed lightgreen;
}

.debug .bw {
    border: 3px dashed white;
}

.debug .bb {
    border: 3px dashed black;
}

.debug main {
    background-color: burlywood;
}

.debug #site-footer {
    background-color: white;
}

.debug .playlist {
    display: none;
}

/*UTILITY*/

html {
    font-family: sans-serif;
}

/*colors*/

:root {
    --colorgray: #787878;
    --colorwhite: white;
}

.textgray {
    color: var(--colorgray);
}

.textwhite {
    color: var(--colorwhite);
}

/*flex*/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

/*others*/

.overflow-hidden {
    overflow-y: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.bleftg {
    border-left: 0.3rem solid green;
}

/*CSS*/

main {
    height: calc(100vh - 6rem);
}

#site-footer {
    height: 6rem;
}



#cta {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 3rem);
    line-height: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
}

#cta a {
    color: var(--colorwhite);
    margin: 0 0.2rem;
    border: 0.1rem solid var(--colorwhite);
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    font-size: 0.8rem;
}

.content {
   width: calc(100% - 3rem);
   overflow-y: scroll;
}

.navbar {
    margin: 7rem 0 1rem;
}

.col-container .col {
    width: calc(50% - 2rem);
    margin: 1rem;
}

/*SIDEBAR*/

.sidebar {
    background-color: black;
}

.logo img {
    height: 2rem;
}

.bigLogo {
    display: none;
}

.functions ul li img {
   height: 2rem;
}

.functions ul li img {
    height: 1.5rem;
    padding-right: 0.5rem;
}

.functions ul li span {
    display: none;
}

.playL {
    display: none;
}

.playL i {
    font-size: 2rem;
}

.sdbr-footer a .download {
    height: 1rem;
}

.sdbr-footer .wrapper {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--colorgray);
    object-fit: cover;
}

 .sdbr-footer a .profile {
    height: 100%;
    padding: 0.3rem;
}

.sdbr-footer .grayline {
    height: 0.1rem;
    background-color: var(--colorgray);
}

.sdbr-footer span {
    display: none;
}

.sdbr-footer .grayline {
    display: none;
}

.sdbr-footer .downloadContainer {
    justify-content: center;
}

/*padding sidebar elements*/

.sidebar .logo {
    padding-bottom: 2rem;
}

.sidebar .functions li {
    padding-bottom: 0.5rem;
}

.sidebar footer .profileContainer {
    padding-top: 1rem;
}

.sidebar footer .grayline {
    margin-top: 1rem;
}

.sidebar h3 {
    padding: 0.5rem 0;
}

.sidebar li {
    padding-bottom: 0.5rem;
}

.sidebar footer span {
    padding-left: 0.5rem;
}

.fa-square-plus {
    padding-right: 0.5rem;
}

.sidebar {
    width: 3rem;
}

.sidebar {
    padding: 0.5rem 0 0;
}

.sdbr-main {
    height: calc(100% - 6rem);
    min-height: 19rem;
}

.sdbr-footer {
    height: 6rem;
}

/*CONTENT*/

.content {
    background-color: #141922;
}


.navbar ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul li {
    line-height: 3rem;
    padding: 0 0.5rem;
}

.navbar ul li a {
    color: var(--colorgray);
    font-weight: bold;
}

section h2 {
    color: var(--colorwhite);
    padding: 1rem;
   
}

section h3 {
    color: var(--colorgray);
    padding-left: 1rem;
    font-size: 0.8rem;
   
}

.col img {
    width: 100%;
}

.col {
    text-align: center;
}

.col h3{
    color: var(--colorwhite);
    padding: 1rem 0;
}

.col span {
    color: var(--colorgray);
}

/*FOOTER*/

#site-footer {
    padding: 1rem 0.5rem;
}

#site-footer img {
    height: 100%;
}

.footCol {
    height: 100%;
    align-items: center;
    gap: 0.5rem;
    width: 20%;
}

#site-footer i {
    margin: 0.3rem;
}

.footCenter i {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

#play {
    font-size: 2rem;
}

.footCenter {
   flex-direction: column;
   justify-content: center;
   width: 60%;
}

.pbarContainer {
    width: 100%;
    justify-content: center;
}

.footCenter .progressionBar {
    width: 70%;
    border-radius: 1rem;
    background-color: var(--colorgray);
    height: 0.4rem;
    margin: 0 2rem;
 }

 .colLeft .progressionBar {
    width: 80%;
    border-radius: 1rem;
    background-color: var(--colorgray);
    height: 0.4rem;
    margin: 0 2rem;
 }

 #site-footer .colLeft {
   justify-content: right;
 }

/*RESPONDIVE*/

@media screen and (min-width: 576px) {
    .sidebar {
        width: 10rem;
        align-items: start;
    }
    

    .content {
        width: calc(100% - 9rem);
     }

     #cta {
        left: 10rem;
        width: calc(100% -10rem);
       
    } 

    .bigLogo {
        display: block;
    }

    .smlLogo {
        display: none;
    }

    .playL {
        display: flex;
    }

    .sidebar .playL ul {
        overflow-y: scroll;
    }

    .functions ul li span {
        display: inline-block;
    }

    .sdbr-footer span {
        display: inline;
    }

    .sdbr-footer {
        width: 100%;
    }

    .sdbr-footer .grayline {
        display: block;
    }

    .sdbr-footer .downloadContainer {
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar {
        padding: 0.5rem 0.5rem 0;
    }

    #cta {
        width: calc(100% - 10rem);
    }

   


     
}

@media screen and (min-width: 768px) {
    
    .col-container .col {
        width: calc(25% - 2rem);
        margin: 1rem;
    }


   
}

@media screen and (min-width: 992px) {
    
    .col-container .col {
        width: calc((100% / 6) - 2rem);
        margin: 1rem;
    }


   
}
