* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*DEBUG*/

.rounded {
    border-radius: 50%;
}




/*UTILITY*/

html {
    font-family: sans-serif;
}

/*colors*/

:root {
    --colorgray: #787878;
    --colorwhite: white;
}

.textgray {
    color: var(--colorgray);
}

.textwhite {
    color: var(--colorwhite);
}

/*flex*/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

.flex-spcbtw {
    justify-content: space-between;
}

.flex-jcenter {
    justify-content: center;
}

/*others*/

.overflow-hidden {
    overflow-y: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.bleftg {
    border-left: 0.3rem solid green;
}

/*CSS*/

main {
    height: calc(100vh - 6rem);
}

#site-footer {
    height: 6rem;
}

#cta {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 3rem);
    line-height: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
}

#cta a {
    color: var(--colorwhite);
    border: 0.1rem solid var(--colorwhite);
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    font-size: 0.8rem;
}

.content {
   width: calc(100% - 3rem);
   overflow-y: scroll;
}

.navbar {
    margin: 7rem 0 1rem;
}

.col-container .col {
    width: calc(50% - 2rem);
    margin: 1rem;
}

/*SIDEBAR*/

.sidebar {
    background-color: black;
}

.logo img {
    height: 2rem;
}

.bigLogo {
    display: none;
}

.functions ul li img {
   height: 2rem;
}

.functions ul li img {
    height: 1.5rem;
}

.functions ul li span {
    padding-left: 0.5rem;
    display: none;
}

.verticalGL {
    height: 1.5rem;
    width: 0.1rem;
    background-color: #b4f730;
    position: absolute;
    top: 5rem;
    left: 0;
    display: none;
}

.playL {
    display: none;
}

.addPl {
    margin-bottom: 0.5rem;
}

.playL i {
    font-size: 2rem;
}

.sdbr-footer a .download {
    height: 1rem;
}

.sdbr-footer .wrapper {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--colorgray);
    object-fit: cover;
}

.sdbr-footer a .profile {
    height: 100%;
    padding: 0.3rem;
}

.sdbr-footer .grayline {
    height: 0.1rem;
    background-color: var(--colorgray);
}

.sdbr-footer span {
    display: none;
}

.sdbr-footer .grayline {
    display: none;
}

.sdbr-footer .downloadContainer {
    justify-content: center;
    margin-bottom: 1rem;
}

/*padding sidebar elements*/

.sidebar .logo {
    padding-bottom: 2rem;
}

.sidebar .functions li {
    padding-bottom: 0.5rem;
}

.sidebar .s .profileContainer {
    padding-top: 1rem;
}

.sdbr-footer .grayline {
    margin-bottom: 0.5rem;

}

.sidebar h3 {
    padding: 0.5rem 0;
}

.sidebar li {
    padding-bottom: 0.5rem;
}

.sdbr-footer span {
    padding-left: 0.5rem;
}

.fa-square-plus {
    padding-right: 0.5rem;
}

.sidebar {
    width: 3rem;
    padding: 1rem 0 0;
}

.sdbr-main {
    height: calc(100% - 5rem);
    min-height: 19rem;
}

.sdbr-footer {
    height: 5rem;
}

/*CONTENT*/

.content {
    background-color: #141922;
}


.navbar ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul li {
    line-height: 3rem;
    padding: 0 0.5rem;
}

.navbar ul li a {
    color: var(--colorgray);
    font-weight: bold;
}

.horizzontalL {
    height: 0.1rem;
    width: 3rem;
}

.horizzontalGL {
    height: 0.1rem;
    width: 3rem;
    background-color: #b4f730;
}

section h2 {
    color: var(--colorwhite);
    padding: 1rem;
   
}

section h3 {
    color: var(--colorgray);
    padding-left: 1rem;
    font-size: 0.8rem;
   
}

.col img {
    width: 100%;
}

.col {
    text-align: center;
}

.col h3{
    color: var(--colorwhite);
    padding: 1rem 0;
}

.col span {
    color: var(--colorgray);
}

/*FOOTER*/

#site-footer {
    background-color: #282828;
}

#site-footer {
    padding: 1rem 0.5rem;
}

#site-footer  .footCol {
    height: 100%;
}

#site-footer  .footLeft , #site-footer  .footRight {
    width: 15rem;
}

#site-footer .footCenter {
    width: 40%;
}

#site-footer  .footLeft img {
    height: 100%;
}

#site-footer .player{
    width: 100%;
}

#site-footer .playStatus , #site-footer .duration {
    width: 20%;
}

#site-footer .duration {
    text-align: right;
}

#site-footer .playerControl {
   width: 80%;
}

.slider {
    height: 0.4rem;
    background-color: var(--colorgray);
    border-radius: 0.2rem;
}

.progression {
    width: 20%;
    height: 100%;
    background-color: #c1c1c1;
    border-radius: 0.2rem;
    position: relative;
}

.progressionDot {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    right: 0;
    top: -0.1rem;
}

.fastFunctions {
    width: 50%;
}

.volume {
    width: 50%;
}

#site-footer .footRight .playerControl {
    width: 100%;
}

#site-footer i {
    padding: 0.3rem;
}

#site-footer .fa-circle-play {
    font-size: 1.5rem;
}

.playNav {
    width: 10rem;
}

/*EFFECTS*/

.imgEffectContainer {
    position: relative;
}

.imgEffect {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.imgEffectrounded {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
}

.imgEffect i , .imgEffectrounded i {
    font-size: 3rem;
}

.imgEffect:hover , .imgEffectrounded:hover {

    opacity: 1;
}

.hoverwhite:hover {
    color: var(--colorwhite);
}

.grow { 
    transition: transform .2s; 
}

.grow:hover {
    transform: scale(1.05);
}

.ctaContainer {
    margin-right: 3rem;
}


/*RESPONSIVE*/

@media screen and (min-width: 576px) {

    .sidebar {
        width: 12rem;
        align-items: start;
    }
    

    .content {
        width: calc(100% - 12rem);
    }

    #cta {
        left: 10rem;
        width: calc(100% -10rem);
       
    } 

    .bigLogo {
        display: block;
    }

    .smlLogo {
        display: none;
    }

    .verticalGL {
        display: block;
    }

    .playL {
        display: flex;
    }

    .sidebar .playL ul {
        overflow-y: scroll;
    }

    .functions ul li span {
        display: inline-block;
    }

    .sdbr-footer span {
        display: inline;
    }

    .sdbr-footer {
        width: 100%;
    }

    .sdbr-footer .grayline {
        display: block;
    }

    .sdbr-footer .downloadContainer {
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar {
        padding: 1rem 0.5rem 0;
    }

    #cta {
        width: calc(100% - 10rem);
    }

   


     
}

@media screen and (min-width: 768px) {
    
    .col-container .col {
        width: calc(25% - 2rem);
        margin: 1rem;
    }


   
}

@media screen and (min-width: 992px) {
    
    .col-container .col {
        width: calc((100% / 6) - 2rem);
        margin: 1rem;
    }


   
}
